*.DS_Store
*/.DS_Store

*.idea
*/.idea
*.iml
*/*.iml
*.project
*.settings/*
*.classpath

target/
*/target
*/target/*
*/target*
*.class
*/*.class
*.war
*.jar

*.log
*/bin/
*/gen/
*/out/

