<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ineedwhite.diancan.dao.dao.ContactDao">
    <select id="findContactInfo" resultType="com.ineedwhite.diancan.dao.domain.ContactDo">
        SELECT contact_id, contact_phone, contact_email, contact_address, contact_workTime
        FROM dc_contact;
    </select>
</mapper>