<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ineedwhite.diancan.dao.dao.OrderDao">
    <select id="selectBoardIdByTime" resultType="java.lang.Integer">
        SELECT board_id FROM dc_order
        WHERE order_board_date = #{order_board_time}
        AND order_board_time_interval = #{order_time_interval}
    </select>

    <insert id="insertOrderInfo">
        INSERT INTO dc_order (order_id, board_id, order_people_number, order_date, order_board_date, order_board_time_interval, order_total_amount, order_status,user_id, coupon_id, order_food, order_food_num)
        VALUES (#{Order.order_id}, #{Order.board_id}, #{Order.order_people_number}, #{Order.order_date}, #{Order.order_board_date}, #{Order.order_board_time_interval},#{Order.order_total_amount}, #{Order.order_status},#{Order.user_id}, #{Order.coupon_id}, #{Order.order_food}, #{Order.order_food_num})
    </insert>

    <select id="selectOrderByTimeAndBoardId" resultType="java.lang.String">
        SELECT order_id FROM dc_order
        WHERE order_board_date = #{order_board_time}
        AND order_board_time_interval = #{order_time_interval}
        AND board_id = #{board_id}
    </select>

    <select id="selectOrderByTimeAndBoardIdAndStatus" resultType="java.lang.String">
        SELECT order_id FROM dc_order
        WHERE order_board_date = #{order_board_time}
        AND order_board_time_interval = #{order_time_interval}
        AND board_id = #{board_id}
        AND order_status = #{order_status}
    </select>

    <select id="selectOrderByStatusWithoutClose" resultType="java.lang.String">
        SELECT order_id FROM dc_order
        WHERE order_status = 'UK' AND order_status = 'UF';
    </select>

    <update id="updateOrderStsById" parameterType="java.lang.String">
        UPDATE dc_order SET order_status = #{ordSts}
        where 1=1
        <if test="jrnNoList.size()>0">
            and JRN_NO in
            <foreach item="item" collection="OrderIdList" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>
</mapper>